{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="_phone" value="{{ last_username }}" />

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">login</button>
    </form>
    <div>Еще нет аккаунта?<a href="{{ path('register') }}">Зарегистрироваться</a></div>
{% endblock %}
