{% extends 'base.html.twig' %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Зарегистрировать</button>
    {{ form_end(form) }}

{% endblock %}