<form method="post" action="{{ path('home_delete', {'id': home.id}) }}" onsubmit="return confirm('Вы уверены, что хотитет удалить этот дом?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.id) }}">
    <button class="btn">Удалить</button>
</form>
