{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваш дом</h3>
        {{ include('home/_form.html.twig', {'button_label': 'Изменить'}) }}
        {{ include('home/_delete_form.html.twig') }}
    </section>
{% endblock %}
