{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section>
        <div class='container'>
            {% for home in homes %}
                <div class='item'><a href="{{ path('home_show', {'id': home.id}) }}">{{ home.name }}</a></div>
            {% endfor %}
            <div class='item'><a href="{{ path('home_new') }}">+ дом</a></div>
        </div>
    </section>

{% endblock %}
