{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваш новый дом</h3>
        {{ include('home/_form.html.twig') }}
    </section>
{% endblock %}
