{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="home">
        <div class="container home">
            <div class="title">{{ home.name }}</div>
            <div class="change"><a href="{{ path('home_edit', {'id': home.id}) }}">изменить</a></div>
        </div>
        <div class="container roomsInHome">
            {% if fullRooms|length > 0 %}
            {% for fullRoom in fullRooms %}
                <div class="item room">
                    <div><a href="{{ path('room_show', {'id': fullRoom.room.id}) }}">{{ fullRoom.room.name }}</a></div>
                    <div class="container">
                        {% if fullRoom.items|length > 0 %}
                        {% for item in fullRoom.items %}
                            <div class="item device"><a href="{{ path('roomItem_show', {'id': item.id}) }}">{{ item.name }}</a></div>
                        {% endfor %}
                        {% endif %}
                        <div class="item device"><a href="{{ path('roomItem_new_with_home_room', {'home': home.id, 'room': fullRoom.room.id}) }}">+ устройство</a></div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            <div class="item room"><a href="{{ path('room_new_with_home', {'home': home.id}) }}">+ комната</a></div>
        </div>
    </section>

{% endblock %}
