{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<section class="main">
    <div class="container main">
        <div>Умный дом</div>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div><a href="{{ path('login') }}">Войти</a><a href="{{ path('register') }}">Зарегистрироваться</a></div>
        {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
            <div><a href="{{ path('home_index') }}">Начать</a></div>
        {% endif %}
    </div>
</section>

{% endblock %}
