<form method="post" action="{{ path('property_delete', {'id': property.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить это свойство?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
    <button class="btn">Удалить</button>
</form>
