{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h1>Ваше свойство</h1>
        {{ include('property/_form.html.twig', {'button_label': 'Изменить'}) }}
    </section>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/addProperty.js') }}"></script>
{% endblock %}
