{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties %}
                <tr>
                    <td><a href="{{ path('property_show', {'id': property.id }) }}">{{ property.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">У Вас еще нет ни одного свойства.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('property_new') }}">+ свойство</a>
    </section>

{% endblock %}
