{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h3>Вашe новое свойство</h3>
        {{ include('property/_form.html.twig') }}
    </section>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('asset/js/addProperty.js') }}"></script>
{% endblock %}
