{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h3>Свойство устройства</h3>
        <table>
            <tbody>
                <tr>
                    <th>Название</th>
                    <td>{{ property.name }}</td>
                </tr>
                <tr>
                    <th>Тип</th>
                    <td>{{ property.type }}</td>
                </tr>
                <tr>
                    <th>Минимальное значение</th>
                    <td>{{ property.min }}</td>
                </tr>
                <tr>
                    <th>Максимальное значение</th>
                    <td>{{ property.max }}</td>
                </tr>
            </tbody>
        </table>

    <a href="{{ path('property_edit', {'id': property.id}) }}"><button class="btn">Изменить</button></a>

    {{ include('property/_delete_form.html.twig') }}

    </section>

{% endblock %}
