<form action="{{ path }}" method="post">
    <div>
        <label for="home">Дом:</label>
        <select name="homes" id="home">
            {% for home in homes %}
                <option value="{{ home.id }}"
                        {% if homeSelected is defined and home.name == homeSelected %}selected="{{ homeSelected }}"{% endif %}>
                    {{ home.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="room">Комната:</label>
        <select name="rooms" id="room"></select>
    </div>

    <div>
        <label for="item">Тип устройства:</label>
        <select name="items" id="item">
            {% for item in items %}
                <option value="{{ item.id }}"
                        {% if itemSelected is defined and item.name == itemSelected %}selected="{{ itemSelected }}"{% endif %}>
                    {{ item.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="name">Название устройства:</label>
        <input type="text" id="name" name="name" {% if name is defined %}value="{{ name }}{% endif %}"/>
    </div>

    <button class="btn">Сохранить</button>
</form>
