{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваше устройство</h3>
        {{ include('roomItem/_form.html.twig', [path, homes, items, name, homeSelected, itemSelected]) }}
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/roomItem.js') }}"></script>
{% endblock %}