{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section>
        <div class='container'>
            {% for item in items %}
                <div class='item'><a href="{{ path('roomItem_show', {'id': item.id}) }}">{{ item.name }}</a></div>
            {% endfor %}
            <div class="item"><a href="{{ path('roomItem_new') }}">+ устройство</a></div>
        </div>
    </section>

{% endblock %}