{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваше новое устройство</h3>
        {{ include('roomItem/_form.html.twig', [path, homes, items]) }}
        {% if error is defined %}
            <div>{{ error.message }}</div>
        {% endif %}
        <div name="jsPath" data-content="{{ jsPath }}" hidden></div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/roomItem.js') }}"></script>
{% endblock %}