{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваше новое устройство</h3>
        <form action="{{ path('roomItem_new_with_home_room', {'home': home.id, 'room': room.id}) }}" method="post">
            <div>
                <label for="home">Дом:</label>
                <span id="home">{{ home.name }}</span>
            </div>

            <div>
                <label for="room">Комната:</label>
                <span id="room">{{ room.name }}</span>
            </div>

            <div>
                <label for="item">Тип устройства:</label>
                <select name="items" id="item">
                    {% for item in items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="name">Название устройства:</label>
                <input type="text" id="name" name="name"/>
            </div>

            <button class="btn">Сохранить</button>
        </form>
    </section>

{% endblock %}
