{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваше устройство</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Квартира</th>
                <td>{{ home.name }}</td>
            </tr>
            <tr>
                <th>Комната</th>
                <td>{{ item.room.name }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Тип устройства</th>
                <td>{{ item.item.name }}</td>
            </tr>
            </tbody>
        </table>
        <div class="properties">
            <div>Характеристики</div>
            <form action="{{ path('value_update') }}" method="post">
                <input type="hidden" name="roomItem" value="{{ item.id }}"/>
                <table>
                    <tbody>
                    {% for property in properties %}
                        {% if property.property.type == 'integer' %}
                            <tr>
                                <th>{{ property.property.name }}</th>
                                <td>
                                    <input name="properties[{{ property.property.id }}]" type="range" min="{{ property.property.min }}" max="{{ property.property.max }}" value="{{ property.value }}" onchange="updateTextInput('property[{{ property.property.id }}]', this.value);"/>
                                    <input type="text" id="property[{{ property.property.id }}]" value="{{ property.value }}">
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <th>{{ property.property.name }}</th>
                                <td>
                                    <input name="properties[{{ property.property.id }}]" type="checkbox" {{ property.value ? 'checked' : '' }} value="On" id="property" onchange="checkboxing()"/>Вкл.
                                    <input name="properties[{{ property.property.id }}]" type="hidden" value="Off" id="hiddenProperty"/>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <button>Сохранить</button>
            </form>
        </div>

        <a href="{{ path('roomItem_edit', {'id': item.id}) }}"><button class="btn">Изменить</button></a>
        {{ include('roomItem/_delete_form.html.twig') }}
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/propertyValue.js') }}"></script>
{% endblock %}
