{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваша комната</h3>
        {{ include('room/_form.html.twig', {'button_label': 'Изменить'}) }}
        {{ include('room/_delete_form.html.twig') }}
    </section>

{% endblock %}
