{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section>
        <div class='container'>
            {% for room in rooms %}
                <div class='item'><a href="{{ path('room_show', {'id': room.id}) }}">{{ room.name }}</a></div>
            {% endfor %}
            <div class='item'><a href="{{ path('room_new') }}">+ комната</a></div>
        </div>
    </section>

{% endblock %}
