{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваша новая комната</h3>
        {{ include('room/_form.html.twig') }}
        {% if error is defined %}
            <div>{{ error.message }}</div>
        {% endif %}
    </section>

{% endblock %}
