{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваша комната</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Квартира</th>
                    <td>{{ room.home }}</td>
                </tr>
                <tr>
                    <th>Название</th>
                    <td>{{ room.name }}</td>
                </tr>
                <tr>
                    <th>Устройства</th>
                    <td>
                        {% if room.roomItems|length > 0 %}
                        {% for item in room.roomItems %}
                            <a href="{{ path('roomItem_show', {'id': item.id}) }}">{{ item.name }}</a>
                        {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

    <a href="{{ path('room_edit', {'id': room.id}) }}"><button class="btn">Изменить</button></a>

    {{ include('room/_delete_form.html.twig') }}

    </section>
{% endblock %}
