@import url("https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic");

html,body {
    background: #fff;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    color: #272426;
    height: 100%;
    margin: 0;
    padding: 0
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.main {
    height: 100%;
}

section.home {
    flex-direction: column;
}

section.show {
    display: block;
    margin-left: 1rem;
}

.container {
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    font-size: 0.8rem;
    margin: 1rem;
}

.menu a {
    margin: 1rem;
}

.container.main {
    flex-direction: column;
    align-items: center;
}

table {
    text-align: left;
}

.container.home {
    flex-direction: column;
    align-items: center;
}

.container.roomsInHome {
    width: 100%;
    flex-direction: column;
}

.item.room {
    font-size: 1.2rem;
    margin: 1rem;
}

.item.device {
    font-size: 1rem;
    margin: 0.5rem;
}

.title {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.change {
    font-size: 0.8rem;
}

.properties {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span {
    margin-left: 1rem;
}
