<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Умный дом</title>
        <link href="{{ asset('asset/css/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>