{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">
        <a href="{{ path('home_index') }}">Дома</a>
        <a href="{{ path('room_index') }}">Комнаты</a>
        <a href="{{ path('roomItem_index') }}">Устройства</a>
        <a href="{{ path('user_show', {'id': user.id }) }}">Личный кабинет</a>
    </div>

{% endblock %}
