{% extends 'base.html.twig' %}

{% block body %}

    <div class="menu">
        <a href="{{ path('item_index') }}">Типы устройств</a>
        <a href="{{ path('property_index') }}">Свойства устройств</a>
    </div>

{% endblock %}