<form method="post" action="{{ path('item_delete', {'id': item.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить это устройство?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn">Удалить</button>
</form>
