{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h1>Ваше устройство</h1>
        {{ include('item/_form.html.twig', {'button_label': 'Изменить'}) }}
        {{ include('item/_delete_form.html.twig') }}
    </section>

{% endblock %}
