{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('item_show', {'id': item.id }) }}">{{ item.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">У Вас еще нет ни одного типа устройства.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('item_new') }}">+ устройство</a>
    </section>

{% endblock %}
