{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h3>Добавить новый тип устройств</h3>
        {{ include('item/_form.html.twig') }}
        <div><a href="{{ path('property_new') }}">+ новое свойство</a></div>
    </section>

{% endblock %}
