{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    {{ include('menu/itemsMenu.html.twig') }}

    <section class="show">
        <h3>Тип устройства</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Название</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th>Свойства</th>
                    <td>{% for property in item.properties %}<a href="{{ path('property_show', {'id': property.id}) }}">{{ property.name }}</a><br>{% endfor %}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('item_edit', {'id': item.id}) }}"><button class="btn">Изменить</button></a>

        {{ include('item/_delete_form.html.twig') }}

    </section>

{% endblock %}
