<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Удалить</button>
</form>
