{% extends 'base.html.twig' %}

{% block body %}
    <h1>Пользователи</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.dateOfBirth|date() }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">показать</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">еще нет ни одного пользователя</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Добавить</a>

    <a href="{{ path('menu') }}">назад</a>
{% endblock %}
