{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/index.html.twig') }}

    <section class="show">
        <h3>Ваш профиль</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Имя</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Дата рождения</th>
                    <td>{{ user.dateOfBirth|date() }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn">Изменить</button></a>
        <a href="{{ path('app_logout') }}"><button class="btn">Выйти</button></a>
    </section>

{% endblock %}
